<a class="hover:bg-black hover:bg-opacity-5 px-8 pb-4 space-y-2" href="{{site.baseurl}}{{ post.url }}">
    <img src="{{site.baseurl}}/assets/img/{{post.slug}}/{{post.main_image}}" alt="{{ post.title }}" class="h-36 w-full object-cover">
    <div class="flex flex-row justify-between">
        <h2 class="font-semibold">{{ post.title}}</h2>
        <div class="text-sm">{{post.date | date: "%B %-d, %Y"}}</div>
    </div>
    <p class="text-sm">
        {{ post.content | markdownify | strip_html | truncatewords: 30 }}
    </p>
</a>
