<a class="shadow-xl hover:bg-black hover:bg-opacity-5 mx-4 mb-4" href="{{site.baseurl}}{{ post.url }}">
    <img src="{{site.baseurl}}/assets/img/{{post.slug}}/{{post.main_image}}" alt="{{ post.title }}" class="h-36 w-full object-cover">
    <div class="flex flex-row justify-between p-4">
        <h2 class=" uppercase">{{ post.title}}</h2>
        <div class="text-sm">{{post.date | date: "%B %-d, %Y"}}</div>
    </div>
    <p class="text-sm font-light px-4 pb-4">
        {{ post.content | markdownify | strip_html | truncatewords: 30 }}
    </p>
</a>
