<!DOCTYPE html>
<html class="w-dvw h-dvh" lang="en">
{% include head.html %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MSPKYB29S3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MSPKYB29S3');
</script>

<body>
    {% include header.html %}     
    {% include nav.html %}
    {% if page.type == "front" %}
        {% include post_list.html %}
    {% endif %}
    {% if page.type == "landing" %}
        {% include recent_post_list.html %}
    {% endif %}
    {{ content }} 
    {% include footer.html %}          
</body>                               

</html>