<!DOCTYPE html>
<html class="w-dvw h-dvh" lang="en">
{% include head.html %}

<body class="flex flex-col space-around h-full">
    {% include header.html %}     
    <div class="py-1"></div>                     
    {% include nav.html %}
    <div class="py-1"></div>
    {% if page.type == "front" %}
        {% include post_list.html %}
    {% endif %}
    {% if page.type == "landing" %}
        {% include recent_post_list.html %}
    {% endif %}
    {{ content }} 
    {% include footer.html %}          
</body>                               

</html>