---
layout: default
type: post
---
{% assign rating_build_obj_total = page.rating_build_obj | times: 3.0 %}

{% assign rating_button_obj_total = page.rating_button_obj | times: 2.0 %}

{% assign rating_feet_obj_total = page.rating_feet_obj | times: 1.0 %}

{% assign rating_coating_obj_total = page.rating_coating_obj | times: 1.0 %}

{% assign rating_sensor_obj_total = page.rating_sensor_obj | times: 1.0 %}

{% assign rating_obj_avg = rating_build_obj_total | 
    plus: rating_button_obj_total | 
    plus: rating_feet_obj_total | 
    plus: rating_coating_obj_total | 
    plus: rating_sensor_obj_total |
    divided_by: 8.0 
%}

{% assign rating_shape_subj_total = page.rating_shape_subj | times: 3.0 %}
{% assign rating_fortnite_subj_total = page.rating_fortnite_subj | times: 2.0 %}
{% assign rating_valorant_subj_total = page.rating_valorant_subj | times: 2.0 %}
{% assign rating_software_subj_total = page.rating_software_subj | times: 1.0 %}

{% assign rating_subj_avg = rating_shape_subj_total | 
    plus: rating_fortnite_subj_total | 
    plus: rating_valorant_subj_total | 
    plus: rating_software_subj_total |
    divided_by: 8.0
%}


<div class="flex flex-col items-center">
    <h1 class="text-center text-4xl pt-2 pb-8 font-bold lg:text-4xl"> 
        {{page.title}} 
    </h1>
    <div class="h-full w-2/3 lg:w-1/2 space-y-2">
        <img src="/assets/img/{{page.slug}}/{{page.main_image}}" alt="{{page.title}}" class="h-full w-full object-contain">
        <p class="text-center">{{page.main_caption}}</p>
    </div>
    
    <div class="prose lg:px-64 md:px-16 pt-8 px-8 max-w-none max-h-none">
        {{ content }}        
    </div>

    <div class="flex flex-col w-full lg:px-64 md:px-16 px-8 text-4xl font-bold text-center py-8 drop-shadow-2xl" >
        <ul>
            <li class="flex flex-row justify-between py-4">
                Weighted Objective Score:  <div>{{ rating_obj_avg }} / 10</div>
            </li>
            <li class="flex flex-row justify-between py-4">
                Weighted Subjective Score: <div>{{ rating_subj_avg }} / 10</div>
            </li>
            <li class="flex flex-row justify-between py-4">
                Value Score: <div>{{ page.rating_val }}</div>
            </li>
        </ul>
        <p class="text-lg font-normal">
            Read about how I rate things
            <a href="/about/2025/01/04/the-rating-system.html" class="text-blue-500 hover:text-blue-700">here.</a>
        </p>
    </div>
</div>
